<% if (username) { %>
<%= username %>
  <form method="POST" action="/logout">
  <button type="submit">Logout</button>
  </form>
  <% } else { %>
<form method="POST" action="/login">
  <input name="username" type="text" placeholder="username" style="width: 100px">
  <button type="submit">Sign in</button>
</form>
<% } %>