<!DOCTYPE html>
<html lang="en">
  <head>Error 401</head>
  <body>
  <img src="https://http.cat/401">
    <p>Your login has failed! Please try again <a href="/login">here.</a></p>
  </body>
  </body>
</html>